@import url('../../css/Colors.css');

$dark: var(--primary-color); // #222f3e;
$darkLower: #22303f8c;
$grey: #8395a7;
$white: #fff;
$primary: var(--accent-color);//#54a0ff;

.like-button-wrapper {
  position: relative;
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  padding: 7px 15px 7px 10px; /*top right bottom left*/
  color: $white;
  font-size: 13px;
  font-weight: 600;
  background-color: transparent;
  will-change: background-color;

  &::before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    will-change: background-color;
    transition: background-color 0.3s, transform 0.3s;
    background-color: $dark;
    box-shadow: 0 0 10px $darkLower;
    border-radius: 8px;
  }

  &.liked {
    &::before {
      background-color: $primary;
    }
  }

  &.disliked {
    &::before {
      background-color: $primary;
    }
  }

  .like-button {
    display: flex;
    align-items: center;
    z-index: 1;
    transform: translateX(3px);
  }

 
  .suffix {
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translateX(15px);

    &.liked {
      opacity: 1;
      transform: translateX(0);
    }

    &.disliked {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

