/* defined colors */
:root {
    --background-color: #373b48;
    --primary-color: #1f2029;
    --accent-color: #f24a0d;
    --objects-background: #2b2e38; /*for filling cards beckground*/
    --small-text-color: #d1cfde;
    --small-accents: #020305;
    --big-text-color: white;
    --other-text: #a6a6b9;
}