@import url('../../css/Colors.css');

.custom-shape-divider-top-1682622608 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -100;
}

.custom-shape-divider-top-1682622608 svg {
    position: relative;
    display: block;
    width: calc(181% + 1.3px);
    height: 354px;
}

.custom-shape-divider-top-1682622608 .shape-fill {
    fill: var(--primary-color);
}

body{
    background-color: var(--background-color);  
}
