@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url('../../css/Colors.css');

header {
  background-color: var(--objects-background);
}

.main-nav {
  height: 90px;
  width: 100%;
  font-family: sans-serif;
  background-color: var(--primary-color);
}

.main-nav .title {
  color: var(--accent-color);
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: var(--big-text-color);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: var(--accent-color);
  /*#7ebcb9;*/
  padding-bottom: 7px;
  border-bottom: 2px solid var(--accent-color);
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: var(--big-text-color);
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: var(--objects-background);
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked~.navlinks {
    right: 0;
  }
}